// $background-color1: #33c0b2;
// $text-color2: #0c098e;
// $accent-color-1color3: #e4d66d;
// $accent-2-color4: #5b4326;

// $background-color1: #1e3343;
// $text-color2: #d9eafa;
// $accent-color-1color3: #db525e;
// $accent-2-color4: #32ade3;

// $background-color1: #32ade3;
// $text-color2: #fbd200;
// $accent-1: #202020;
// $accent-color-2: #f38897;

$primary-color: hsl(213, 95%, 58%);
$primary-color-blur: hsla(213, 95%, 58%, 0.3);
$secondary-color: rgb(250, 213, 66);
$accent-color: rgb(65, 50, 11);
