@use "../abstracts/colors" as c;

.footer {
  padding-top: 1rem;

  &__logo {
    color: c.$primary-color;
  }
  .info__title {
    color: c.$accent-color;
    margin-bottom: 0.5rem;
  }

  &__info {
    display: grid;
    gap: 1rem;
  }

  .attribution {
    font-size: var(--smaller-font);
  }
}
